<!-- Configuration Table -->

<table class="table-striped">
{% for param, value in configuration.items() %}
<tr>
    <td><b>{{param}}</b></td>
    <td><code>{{value}}</code></td>
<tr>
{% endfor %}
{% if setup %}
{% for param, value in setup.items() %}
<tr>
    <td><b>{{param}}</b></td>
    <td><code>{{value}}</code></td>
<tr>
{% endfor %}
{% endif %}
</table>
